extends ../layout/main
block variable
  -
    var title_page = 'Про нас'
    var id_page = 'id-page-about'
    var class_page = 'class-page-about'
    var card_info = [
        {title: 'Висока Якість Продукції', text: 'Ми співпрацюємо лише з перевіреними та ліцензованими постачальниками, гарантуючи найвищу якість товарів.', img: 'assets/images/about/screen3/about-card__1.jpg'},
        {title: 'Зручне Розташування', text: 'Ринок розташований у серці Ірпеня, що робить його легко доступним для всіх мешканців міста та гостей.', img: 'assets/images/about/screen3/about-card__2.jpg'},
        {title: 'Сучасна Інфраструктура', text: 'Ми пропонуємо сучасні павільйони, обладнані всім необхідним для комфортного шопінгу та торгівлі.', img: 'assets/images/about/screen3/about-card__3.jpg'},
        {title: 'Широкий Асортимент', text: 'У нас ви знайдете широкий вибір продукції: від свіжих продуктів до одягу та аксесуарів, що задовольнить потреби кожного покупця.', img: 'assets/images/about/screen3/about-card__4.jpg'},
        {title: 'Висока Якість Продукції', text: 'Ми співпрацюємо лише з перевіреними та ліцензованими постачальниками, гарантуючи найвищу якість товарів.', img: 'assets/images/about/screen3/about-card__1.jpg'},
        {title: 'Зручне Розташування', text: 'Ринок розташований у серці Ірпеня, що робить його легко доступним для всіх мешканців міста та гостей.', img: 'assets/images/about/screen3/about-card__2.jpg'},
        {title: 'Сучасна Інфраструктура', text: 'Ми пропонуємо сучасні павільйони, обладнані всім необхідним для комфортного шопінгу та торгівлі.', img: 'assets/images/about/screen3/about-card__3.jpg'},
        {title: 'Широкий Асортимент', text: 'У нас ви знайдете широкий вибір продукції: від свіжих продуктів до одягу та аксесуарів, що задовольнить потреби кожного покупця.', img: 'assets/images/about/screen3/about-card__4.jpg'},
    ]
    var slides = [
        {src: 'assets/images/about/screen4/about-screen4-slide__1.jpg'},
        {src: 'assets/images/about/screen4/about-screen4-slide__2.jpg'},
        {src: 'assets/images/about/screen4/about-screen4-slide__3.jpg'},
        {src: 'assets/images/about/screen4/about-screen4-slide__4.jpg'},
        {src: 'assets/images/about/screen4/about-screen4-slide__5.jpg'},
        {src: 'assets/images/about/screen4/about-screen4-slide__6.jpg'},
        {src: 'assets/images/about/screen4/about-screen4-slide__1.jpg'},
        {src: 'assets/images/about/screen4/about-screen4-slide__2.jpg'},
        {src: 'assets/images/about/screen4/about-screen4-slide__3.jpg'},
        {src: 'assets/images/about/screen4/about-screen4-slide__4.jpg'},
        {src: 'assets/images/about/screen4/about-screen4-slide__5.jpg'},
        {src: 'assets/images/about/screen4/about-screen4-slide__6.jpg'},
    ]
    var questionsList = [
        {question: 'Чи є на ринку парковка для автомобілів?', answer: 'Так, у нас є велика безкоштовна парковка для відвідувачів ринку, яка знаходиться поруч з головним входом.'},
        {question: 'Які види товарів можна знайти на ринку?', answer: 'Lorem ipsum dolor sit amet.'},
        {question: 'Чи є на ринку зони для відпочинку та харчування?', answer: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente.'},
        {question: 'Як зв\'язатися з адміністрацією ринку?', answer: 'Lorem ipsum dolor sit.'},
        {question: 'Чи проводяться на ринку спеціальні заходи або ярмарки?', answer: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum neque dolorum nam!'},
    ]

block meta
    title= title_page
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(defer src='./assets/scripts/vendors.bundle.js')
    script(defer src='./assets/scripts/about.bundle.js')

block content
    .about-screen.front-screen
        video(autoplay='' playsinline muted loop poster="./assets/images/home/video-poster.jpg").front-screen__video-bg
            source(src='./static/3657017-hd_1920_1080_30fps (1).mp4', type='video/mp4')
        <picture>
            <source srcset="./assets/images/about/screen1-img.png" media="(min-width: 1920px)">
            <source srcset="./assets/images/about/screen1-img.png" media="(min-width: 1240px)">
            <source srcset="./assets/images/about/screen1-img.png" media="(min-width: 700px)">
            <img src="./assets/images/about/screen1-img.png" alt="Альтернативний текст" class="front-screen__bg">
        </picture>
        //- +img('home/screen1-img.png').front-screen__bg
        .front-screen__content
            h1.front-screen__title.text-style-1920-h-1 Про проєкт
            p.front-screen__subtitle.text-style-1920-txt Сучасний ринок, який поєднує комфорт та інновації
            button.button-colored(type="button" data-form="data-form") Подати заявку
    .about-screen2.home-screen2
        .about-screen2__content
            <svg class="home-screen2__quote" width="67" height="55" viewBox="0 0 67 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M51.87 54.796C47.7913 54.796 44.3333 53.2887 41.496 50.274C38.6587 47.082 37.24 42.826 37.24 37.506C37.24 29.8807 38.3927 23.674 40.698 18.886C43.0033 13.9207 45.5747 10.0193 48.412 7.182C51.604 3.99 55.4167 1.596 59.85 0L62.51 4.25601C59.4953 5.67467 56.8353 7.35933 54.53 9.31001C52.5793 11.0833 50.7173 13.2113 48.944 15.694C47.348 17.9993 46.55 20.8367 46.55 24.206C46.55 25.4473 46.7273 26.4227 47.082 27.132C47.2593 27.664 47.5253 28.0187 47.88 28.196C48.2347 28.0187 48.7667 27.8413 49.476 27.664C50.008 27.4867 50.54 27.3093 51.072 27.132C51.7813 26.9547 52.4907 26.866 53.2 26.866C57.2787 26.866 60.4707 28.1073 62.776 30.59C65.2587 32.8953 66.5 36.0873 66.5 40.166C66.5 44.2447 65.0813 47.7027 62.244 50.54C59.4067 53.3773 55.9487 54.796 51.87 54.796ZM14.63 54.796C10.5513 54.796 7.09333 53.2887 4.256 50.274C1.41867 47.082 0 42.826 0 37.506C0 29.8807 1.15267 23.674 3.458 18.886C5.76333 13.9207 8.33467 10.0193 11.172 7.182C14.364 3.99 18.1767 1.596 22.61 0L25.27 4.25601C22.2553 5.67467 19.5953 7.35933 17.29 9.31001C15.3393 11.0833 13.4773 13.2113 11.704 15.694C10.108 17.9993 9.31 20.8367 9.31 24.206C9.31 25.4473 9.48733 26.4227 9.842 27.132C10.0193 27.664 10.2853 28.0187 10.64 28.196C10.9947 28.0187 11.5267 27.8413 12.236 27.664C12.768 27.4867 13.3 27.3093 13.832 27.132C14.5413 26.9547 15.2507 26.866 15.96 26.866C20.0387 26.866 23.2307 28.1073 25.536 30.59C28.0187 32.8953 29.26 36.0873 29.26 40.166C29.26 44.2447 27.8413 47.7027 25.004 50.54C22.1667 53.3773 18.7087 54.796 14.63 54.796Z" fill="#F2EDDB"/>
                </svg>
            .text-style-1920-h-2.home-screen2__subtitle Наші партнери
            .text-style-1920-h-1.home-screen2__title Центральний Ринок Ірпінь — гарант якісних товарів
            .about-screen2__description
                p На нашому ринку ми співпрацюємо лише з перевіреними та ліцензованими орендарями, які гарантують високу якість товарів і послуг. 
                p Кожен павільйон відповідає суворим стандартам, що забезпечує безпеку та комфорт нашим покупцям.
        <picture>
            <source srcset="./assets/images/about/screen2-bg_1.png" media="(min-width: 500px)">
            <source srcset="./assets/images/about/screen2-bg_2.png" media="(min-width: 300px)">
            <img class="about-screen2__bg" src="./assets/images/about/screen2-bg_1.png" alt="Альтернативний текст">
        </picture>
    .about-screen3
        .about-screen3__content
            .about-screen3__title.text-style-1920-h-1.home-screen3__title Чому обирають Центральний Ринок Ірпінь
            p.about-screen3__subtitle.text-style-1920-txt Центральний Ринок Ірпінь — це сучасний ринок, який пропонує найкращі умови для покупців та орендарів. Ми поєднуємо комфорт, якість та інновації, щоб задовольнити потреби кожного клієнта.
        .about-screen3__slider
            .about-cards__row.swiper-wrapper 
                each card in card_info
                    .swiper-slide
                        .about-card
                            .about-card__content
                                .about-card__img
                                    img(src= card.img)
                                h3.about-card__title.text-style-1920-h-3= card.title
                                p.about-card__text= card.text
                            .about-delimiter
        .about-buttons
            button(type='button' data-about-button__prev).about-button__prev
                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.0711 8.00001L1.92893 8.00001M1.92893 8.00001L9 0.92894M1.92893 8.00001L9 15.0711" stroke="#F2EDDB" stroke-width="1.5" stroke-linecap="round"/>
                </svg>

            button(type='button' data-about-button__next).about-button__next
                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.928932 8.00001H15.0711M15.0711 8.00001L8 15.0711M15.0711 8.00001L8 0.92894" stroke="#F2EDDB" stroke-width="1.5" stroke-linecap="round"/>
                </svg>

    .container.about-screen4
        .about-screen4__top-content.home-screen4__top-content
            .text-style-1920-h-2.home-screen4__subtitle Галерея
            <svg class="home-screen4__quote" width="67" height="55" viewBox="0 0 67 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M51.87 54.796C47.7913 54.796 44.3333 53.2887 41.496 50.274C38.6587 47.082 37.24 42.826 37.24 37.506C37.24 29.8807 38.3927 23.674 40.698 18.886C43.0033 13.9207 45.5747 10.0193 48.412 7.182C51.604 3.99 55.4167 1.596 59.85 0L62.51 4.25601C59.4953 5.67467 56.8353 7.35933 54.53 9.31001C52.5793 11.0833 50.7173 13.2113 48.944 15.694C47.348 17.9993 46.55 20.8367 46.55 24.206C46.55 25.4473 46.7273 26.4227 47.082 27.132C47.2593 27.664 47.5253 28.0187 47.88 28.196C48.2347 28.0187 48.7667 27.8413 49.476 27.664C50.008 27.4867 50.54 27.3093 51.072 27.132C51.7813 26.9547 52.4907 26.866 53.2 26.866C57.2787 26.866 60.4707 28.1073 62.776 30.59C65.2587 32.8953 66.5 36.0873 66.5 40.166C66.5 44.2447 65.0813 47.7027 62.244 50.54C59.4067 53.3773 55.9487 54.796 51.87 54.796ZM14.63 54.796C10.5513 54.796 7.09333 53.2887 4.256 50.274C1.41867 47.082 0 42.826 0 37.506C0 29.8807 1.15267 23.674 3.458 18.886C5.76333 13.9207 8.33467 10.0193 11.172 7.182C14.364 3.99 18.1767 1.596 22.61 0L25.27 4.25601C22.2553 5.67467 19.5953 7.35933 17.29 9.31001C15.3393 11.0833 13.4773 13.2113 11.704 15.694C10.108 17.9993 9.31 20.8367 9.31 24.206C9.31 25.4473 9.48733 26.4227 9.842 27.132C10.0193 27.664 10.2853 28.0187 10.64 28.196C10.9947 28.0187 11.5267 27.8413 12.236 27.664C12.768 27.4867 13.3 27.3093 13.832 27.132C14.5413 26.9547 15.2507 26.866 15.96 26.866C20.0387 26.866 23.2307 28.1073 25.536 30.59C28.0187 32.8953 29.26 36.0873 29.26 40.166C29.26 44.2447 27.8413 47.7027 25.004 50.54C22.1667 53.3773 18.7087 54.796 14.63 54.796Z" fill="#F2EDDB"/>
            </svg>
            .text-style-1920-h-1.about-screen4__title Загляньте у Життя Центрального Ринку Ірпеня
        .about-screen4__slider
            .about-slider
                .about-slider__buttons
                    button(type='button' data-button-gallery-slider-prev)
                        <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.828 6.636L7.778 11.586L6.364 13L-2.78179e-07 6.636L6.364 0.271999L7.778 1.686L2.828 6.636Z" fill="#F2EDDB"/>
                        </svg>
                    .about-slider__slides-count
                    button(type='button' data-button-gallery-slider-next)
                        <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.172 6.364L0.222 1.414L1.636 -2.78179e-07L8 6.364L1.636 12.728L0.222 11.314L5.172 6.364Z" fill="#F2EDDB"/>
                        </svg>
                .about-slider__row.swiper-wrapper
                    each slide in slides
                        .swiper-slide
                            img(src= slide.src, alt="Some text")
                
            .about-slider__buttons-min
                button(type='button' data-button-gallery-slider-min-prev).about-button__prev
                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.0711 8.00001L1.92893 8.00001M1.92893 8.00001L9 0.92894M1.92893 8.00001L9 15.0711" stroke="#F2EDDB" stroke-width="1.5" stroke-linecap="round"/>
                    </svg>

                button(type='button' data-button-gallery-slider-min-next).about-button__next
                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.928932 8.00001H15.0711M15.0711 8.00001L8 15.0711M15.0711 8.00001L8 0.92894" stroke="#F2EDDB" stroke-width="1.5" stroke-linecap="round"/>
                    </svg>
    .container.about-screen5
        .about-screen3__content.about-screen5__content
            .about-screen3__title.text-style-1920-h-1.home-screen3__title Відповіді на ваші запитання
            p.about-screen3__subtitle.text-style-1920-txt Тут ви знайдете відповіді на найпоширеніші питання, які можуть виникнути у вас щодо нашого продукту, послуг або процесів.
            ul.about-screen5__list.about-list
                each item in questionsList
                    li.about-item
                        button.about-item__question(aria-label=item.question data-about-item-label) 
                            p.text-style-1920-h-2= item.question
                            span.about-item__close-icon
                                <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13 25.25V0.75M25.25 13H0.75" stroke="#F2EDDB" stroke-width="1.5" stroke-linecap="round"/>
                                </svg>
                        p.about-item__answer.text-style-1920-description= item.answer
    <svg class="gallery-switcher" data-gallery-switcher width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="120" height="120" rx="60" fill="#7F855D"/>
        <text x="32" y="65.5" style="fill: var(--color-send);font-size: 18px;font-weight: 600;">
            <tspan data-gallery-switcher-current>05</tspan>
            <tspan>/</tspan>
            <tspan data-gallery-switcher-all>10</tspan>
        </text>
        <path class="gallery-switcher__prev-arrow" d="M21.828 60.636L26.778 65.586L25.364 67L19 60.636L25.364 54.272L26.778 55.686L21.828 60.636Z" fill="#F2EDDB"/>
        //- <path d="M40.4004 68.2344C38.9421 68.2344 37.8027 67.6387 36.9824 66.4473C36.1686 65.2559 35.7617 63.5339 35.7617 61.2812C35.7617 58.8073 36.1882 56.9355 37.041 55.666C37.8939 54.3965 39.1243 53.7617 40.7324 53.7617C43.8118 53.7617 45.3516 56.1543 45.3516 60.9395C45.3516 63.3092 44.9154 65.1191 44.043 66.3691C43.1771 67.6126 41.9629 68.2344 40.4004 68.2344ZM40.625 55.5684C38.9258 55.5684 38.0762 57.4401 38.0762 61.1836C38.0762 64.6862 38.9095 66.4375 40.5762 66.4375C42.2168 66.4375 43.0371 64.6569 43.0371 61.0957C43.0371 57.4108 42.2331 55.5684 40.625 55.5684ZM55.8594 68H47.0703V66.916C47.0703 66.4733 47.1322 66.0599 47.2559 65.6758C47.3796 65.2852 47.5456 64.9206 47.7539 64.582C47.9622 64.237 48.2064 63.9147 48.4863 63.6152C48.7663 63.3092 49.0658 63.0163 49.3848 62.7363C49.7038 62.4499 50.0293 62.1764 50.3613 61.916C50.6934 61.6491 51.0189 61.3822 51.3379 61.1152C51.6374 60.8613 51.9108 60.6139 52.1582 60.373C52.4056 60.1257 52.6172 59.8717 52.793 59.6113C52.9688 59.3509 53.1055 59.0775 53.2031 58.791C53.3008 58.498 53.3496 58.1823 53.3496 57.8438C53.3496 57.4727 53.291 57.1504 53.1738 56.877C53.0632 56.597 52.9036 56.3659 52.6953 56.1836C52.4935 55.9948 52.2526 55.8548 51.9727 55.7637C51.6927 55.666 51.3867 55.6172 51.0547 55.6172C50.4818 55.6172 49.8991 55.7507 49.3066 56.0176C48.7142 56.2845 48.1445 56.6849 47.5977 57.2188V55.041C47.8841 54.8262 48.1738 54.6406 48.4668 54.4844C48.7598 54.3216 49.0625 54.1882 49.375 54.084C49.6875 53.9733 50.0163 53.8919 50.3613 53.8398C50.7064 53.7878 51.0742 53.7617 51.4648 53.7617C52.0964 53.7617 52.6693 53.8464 53.1836 54.0156C53.6979 54.1784 54.1374 54.4225 54.502 54.748C54.8665 55.0671 55.1465 55.4674 55.3418 55.9492C55.5436 56.431 55.6445 56.9844 55.6445 57.6094C55.6445 58.1758 55.5729 58.6868 55.4297 59.1426C55.293 59.5918 55.0944 60.0117 54.834 60.4023C54.5801 60.793 54.2708 61.1641 53.9062 61.5156C53.5417 61.8672 53.1348 62.2285 52.6855 62.5996C52.3079 62.9056 51.9303 63.2051 51.5527 63.498C51.1816 63.7845 50.8464 64.0677 50.5469 64.3477C50.2474 64.6211 50.0033 64.8978 49.8145 65.1777C49.6322 65.4512 49.541 65.7279 49.541 66.0078V66.0566H55.8594V68ZM65.6934 53.9961L58.9258 70.3242H56.8652L63.6035 53.9961H65.6934ZM71.5137 53.6836V68H69.248V56.457C68.8379 56.75 68.3952 57.0007 67.9199 57.209C67.4512 57.4108 66.9141 57.5898 66.3086 57.7461V55.8125C66.6862 55.6888 67.0508 55.5586 67.4023 55.4219C67.7539 55.2852 68.099 55.1322 68.4375 54.9629C68.7826 54.7936 69.1276 54.6048 69.4727 54.3965C69.8242 54.1882 70.1855 53.9505 70.5566 53.6836H71.5137ZM74.7559 67.4824V65.3535C75.6673 66.0762 76.696 66.4375 77.8418 66.4375C78.7728 66.4375 79.515 66.2259 80.0684 65.8027C80.6283 65.3796 80.9082 64.8066 80.9082 64.084C80.9082 62.4954 79.694 61.7012 77.2656 61.7012H76.1816V59.8848H77.2168C79.3717 59.8848 80.4492 59.1361 80.4492 57.6387C80.4492 56.2585 79.6094 55.5684 77.9297 55.5684C76.9922 55.5684 76.11 55.9036 75.2832 56.5742V54.5625C76.2337 54.0286 77.3568 53.7617 78.6523 53.7617C79.8958 53.7617 80.8919 54.0742 81.6406 54.6992C82.3893 55.3242 82.7637 56.125 82.7637 57.1016C82.7637 58.944 81.8262 60.1289 79.9512 60.6562V60.6953C80.9603 60.793 81.7578 61.1478 82.3438 61.7598C82.9297 62.3652 83.2227 63.1237 83.2227 64.0352C83.2227 65.2917 82.7507 66.3073 81.8066 67.082C80.8626 67.8503 79.6191 68.2344 78.0762 68.2344C76.6895 68.2344 75.5827 67.9837 74.7559 67.4824Z" fill="#F2EDDB"/>
        <path class="gallery-switcher__next-arrow" d="M98.172 59.364L93.222 54.414L94.636 53L101 59.364L94.636 65.728L93.222 64.314L98.172 59.364Z" fill="#F2EDDB"/>
    </svg>

    //- <svg class="gallery-switcher" data-gallery-switcher width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
    //-     <circle cx="60" cy="60" r="60" fill="var(--color-green)"/>
    //-     <g class="gallery-switcher__nav">
    //-     <text fill="white" x="21" y="66">01</text>
    //-     <text fill="#858585" x="42" y="66">/</text>
    //-     <text fill="#858585" x="49" y="66">01</text>
    //-     </g>
    //-     <path class="gallery-switcher__arrow" d="M88.8443 49C90.7938 51.9184 98.1804 60 100 60M100 60C98.1588 60 91.0104 67.5204 88.8443 71M100 60L75 60" stroke="#E5CDB7" stroke-width="2"/>
    //- </svg>
block footer
    include ../includes/footer.pug

block header
    include ../includes/header.pug